<!-- start custom footer snippets -->
<div class="text-center">
	<p><a href="/">Home</a>&nbsp;- <a href="/myjourney.html">About&nbsp;Us</a> -&nbsp;<a href="/contact-us.html">Contact Us</a>&nbsp;-&nbsp;<a href="/privacy-policy.html">Privacy</a>&nbsp;-&nbsp;<a href="/affiliate-disclaimer.html">Disclaimer&nbsp;</a> -&nbsp;<a href="/blog">Blog</a></p>
	<p class="page__footer-copyright">Information on this site is not intended to take the place of medical advice.</p>
</div>
<!-- end custom footer snippets -->